<h1>Hello, @ViewBag.User.Username!</h1>
<form action="postsecret" method="post">
    @Html.ValidationSummary(false, "")
    <input type="text" value="Your secret here..." name="msg">
    <input type="submit" value="Post">
</form>
<a href="secrets/popular">Most Popular Secrets</a>

<h1>Recent Secrets</h1>
@{
    foreach(Secret sec in ViewBag.Secrets)
    {
        foreach(Like like in sec.LikedUsers)
        {
            if(sec.UserId == ViewBag.User.Id)//if the current user posted this secret (therefore likes it)
            {
                <p>@sec.Content (@sec.Created_At) @sec.Likes likes <em>You posted this </em><a href="delete/@sec.Id">Delete</a></p>
                break;
            }
            else if(like.UserId == ViewBag.User.Id)//if the current user has liked this secret
            {
                <p>@sec.Content (@sec.Created_At) @sec.Likes likes <em>You like this</em></p>    
                break;            
            }else
            {
                <p>@sec.Content (@sec.Created_At) @sec.Likes likes <a href="liked/@sec.Id">Like</a></p>
                break;
            }
        }
    }
}